<template>
    <section>
        <div class="modal-overlay" v-if="displayToggle">
            <span @click="closeModal">X</span>
            <slot></slot>
        </div>
    </section>
</template>

<script>

export default {
    name : "ModalOverlay",
    data(){
        return {

        }
    },

    methods : {
        closeModal : function (){
            this.$parent.toggleModal();
        },
    },
    
    props: {
        displayToggle : {
            type: Boolean,
            required: true
        }
    }
}
</script>

<style lang="scss">
    .modal-overlay{
        height: 529px;
        position: fixed;
        width: 360px;
        background-color: rgba(0,0,0,.7);
        top: 73px;
        padding: 35px;
        box-sizing: border-box;

        span{
            position: absolute;
            top: 10px;
            right: 20px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
    }
</style>