<template>
    <div class="form-container">
        <form class="form" @submit.prevent="handleAuth">

            <input v-for="(input, key) in formInputs" :value="input.hasOwnProperty('value') ? input.value : ''" :name="input.name" :type="input.type" :placeholder="input.placeholder" :key="key" required />

            <textarea v-for="(input, key) in textAreas" :key="key" :name="input.name" :placeholder="input.placeholder"></textarea>

            <button>{{actionText}}</button>

        </form>
    </div>
</template>

<script>

import { useStore } from "vuex";

import { computed } from "vue";

export default {
    name : 'Form',

    async setup({ form, actionText, handler}, { emit }) {

        const store = useStore();

        let formInputs = computed(() => form.filter(obj => obj.type !== 'textarea' ));

        let textAreas = computed( () => form.filter(obj => obj.type === 'textarea' ));

        let userId = computed( () => {
            let user = store.getters.getUser;

            return (user) ? user.id : 0;
        });

        let files = computed( () => form.filter(obj => obj.type === 'file' ));

        const handleAuth = async (e) => {

            let formD = new FormData(e.target);

            formD.append('user_id', userId.value);

            await store.dispatch('setLoader', true);

            await store.dispatch(handler, formD);

        }

        return {
            formInputs,
            textAreas,
            handleAuth,
            actionText
        }
    },

    props : {
        form: {
            type: Array,
            required: true
        },

        actionText: {
            type: String,
            required: true
        },

        handler: {
            type: String,
            required: true
        }
    }

}
</script>

<style scoped lang="scss">
    @import "./style/form.scss";
</style>