<template>
    <div>
        <Form :actionText="authType" :form="formFields" :handler="authType.toLowerCase()" />

        <p class="footer-text">If you don't have an account <router-link to="/register">register</router-link></p>
    </div>
</template>

<script>

import Form from '../../shared/components/form/Form.vue';

export default {
    setup(){

        const authType = "Login";

        const formFields = [
            {
                name : "email",
                type: "email",
                placeholder : "Enter a valid email"
            },
            
            {
                name : "password",
                type: "password",
                placeholder : "Enter your password"
            }
        ];

        return {
            authType,
            formFields
        }
    },

    components : { Form },

}
</script>
