<template>
    <div>
        <Form :actionText="authType" :form="formFields" :handler="authType.toLowerCase()" /> 

        <p class="footer-text">If you already have an account <router-link to="/login">login</router-link></p>
    </div>
</template>

<script>

import Form from '../../shared/components/form/Form.vue';

export default {
     setup(){

        const authType = "Register";

        const formFields = [
            {
                name : "email",
                type: "email",
                placeholder : "Enter a valid email"
            },
            {
                name : "name",
                type: "text",
                placeholder : "Enter your full name"
            },
            {
                name : "phone",
                type: "tel",
                placeholder : "Enter your mobile number"
            },
            {
                name : "photo",
                type: "file",
                placeholder : "select avatar"
            },
            {
                name : "bio",
                type: "textarea",
                placeholder : "Write a short bio"
            },
            {
                name : "password",
                type: "password",
                placeholder : "Enter your password"
            }
        ];

        return {
            authType,
            formFields
        }
    },

    components : { Form },

}
</script>
