<template>
  <div class="home">

    <Header />

    <Suspense>

      <template #default>
        <EventList />
      </template>

      <template #fallback>
        <Loader />
      </template>

    </Suspense>
    <br/>
    <br/>
    <br/>
    <br/>

    <Footer />

    <router-view/>
  </div>
</template>

<script>

import EventList from "../components/eventsList/EventList.vue";
import Loader from "../../loader/components/Loader.vue";
import Header from '../components/header/Header.vue';
import Footer from '../../shared/components/footer/Footer.vue';

export default {
  name: 'Home',

  setup() {

    return {  };
  },

  components: {
    Header,
    EventList,
    Loader,
    Footer
  }

}

</script>
