<template>
    <section id="loader">
        <img :src="require('../assets/imgs/loader.gif')" />
    </section>
</template>

<script>
export default {
    name: 'loader',
    
    computed : {
        
        isLoading : function(){
            return this.$store.getters.getLoadState;
        }

    }
}
</script>

<style scoped lang="scss">
    @import '../assets/style/loader.scss';
</style>