<template>
    <section>
        <span @click="router.back()" class="back">⬅️</span>
        <br/>
        
        <EventCard :event="event" @keypress="handleCustomChange" />

        <div class="event-details" v-if="event">
            <h5 class="event-address">{{event.address}}</h5>
            <p class="event-country">{{event.country}}</p>
            <p class="event-date">{{duration}}</p>
        </div>
        
    </section>

</template>

<script>

import { computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import EventCard from "../../shared/components/eventcard/EventCard.vue";
import { Http } from "../../../api/Http.js";
import moment from 'moment';
import { RepositoryFactory } from '../../../api/factory/RepositoryFactory';

const EventRepository = RepositoryFactory.get('event');

export default {

    name : 'SinlgeEvent',

    emits: ['keypress'],

    async setup() {

        const router = useRouter();

        const route = useRoute();

        let id = route.params.id;

        let response = await EventRepository.getById(id);
        
        let event = response.data;

        const handleCustomChange = (e) => {
            console.log(e.target.value);
        }

        let durationStr = `${moment(event.start_time).format('MMMM Do')} - ${moment(event.end_time).format('MMMM Do')}`;

        let duration = computed(() => durationStr);

        return {
            event,
            duration,
            router,
            handleCustomChange
        }

    },

    components : { EventCard }

}
</script>

<style lang="scss" scoped>
    @import "../assets/style/event.scss";
</style>