<template>
    <section class="auth-box">
        <h4 class="welcome-text">Welcome to <span>Eventz</span></h4>

        <br/>

        <p class="error-msg">{{errorMsg}}</p>

        <router-view></router-view>

    </section>
</template>

<script>


export default {
    name : "Auth",

    computed : {
        errorMsg : function(){
            return this.$store.getters.getErrorMsg;
        },
    }

}

</script>


<style  lang="scss">
    @import './style/auth.scss';
</style>