.back{
    cursor: pointer;
}

.event-details {
    color: white;
    
    .event-address {
        font-size: 27px;
        font-weight: bold;
        margin: 0 0 2px;
    }

    .event-country {
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 2px;
    }

    .event-date {
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 2px;
    }
}