@import '../../../../shared/style/mixins.scss';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .brand-info{
        .today-date{
            font-size: 10px;
            font-weight: 200;
            margin-bottom: 5px;
            color: white;
        }

        .brand-name{
            font-weight: 800;
            font-size: 20px;
            color: white;
        }
    }

    .avatar{
        .avatar-pic{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            @include cover-img
        }
    }
}