<template>
    <section id="footer">
        <ModalOverlay :displayToggle="this.showModal">
            <Form actionText="Create Event" :form="this.form" handler="createEvent" />
        </ModalOverlay>

       <ul class="menu-list">
           <li @click="toggleModal">
               <img :src="require('./imgs/plus.png')" />
               <p>Create Event</p>
            </li>
       </ul>
    </section>
</template>

<script>

import ModalOverlay from '../modal/ModalOverlay.vue';
import Form from '../form/Form.vue';
import { Fields } from './data/EventFields';

export default {
    name : "Footer",
    data(){
        return {
            showModal : false,
            form : Fields
        }
    },

    methods : {

        toggleModal : function() {
            this.showModal = !this.showModal;
        },

    },

    components : { ModalOverlay, Form },

    props : [],

}

</script>


<style  lang="scss">
    @import './style/footer.scss';
</style>