<template>
    <p v-if="error"> {{ error }} </p>

    <Suspense>

        <template #default>
            <SingleEvent />
        </template>

        <template #fallback>
            <Loader />
        </template>

    </Suspense>
</template>

<script>

import SingleEvent from '../components/SingleEvent.vue';

import Loader from "../../loader/components/Loader.vue";

import { ref, onErrorCaptured } from 'vue';

export default {
    name: "Event",

    setup(){

        const error = ref(null);

        onErrorCaptured((e) => (error.value = e));

        return{
            error
        }
    },

    components : { SingleEvent, Loader}

}

</script>
