<template>
  <h3 id="missing-brand">EventZ</h3>

  <div class="missing">
    <p>Olalala!, this page is missing :)</p>
    <p >
      <router-link to="/" class="come-home-link"> come home bro </router-link>
    </p>
  </div>
</template>

<script>

export default {
  name: 'Missing'
}

</script>

<style scoped lang="scss">
  #missing-brand{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: purple;
  }

  .come-home-link{
    color: purple;
    font-size: 14px;
    font-weight: 600;
  }

  .missing{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-size: 14px;
      color: white;
    }
  }
</style>
