<template>
    
    <EventCard v-for="event in eventList" :key="event.id" :event="event" />

</template>

<script>

import EventCard from '../../../shared/components/eventcard/EventCard.vue';

import { computed } from 'vue';

import { useStore } from 'vuex';

export default {
  name: 'EventList',

  async setup() {

    const store = useStore();

    await store.dispatch('loadEvents');

    let eventList = computed(() => store.getters.getEvents);

    return {
        eventList
    }

  },

  components: {
    EventCard, 
  }

}

</script>