
.error-msg{
    color: red;
    font-size: 12px;
}

.footer-text{
    color: white;
    font-size: 13px;
    text-align: center;
    a{
        color: red;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.auth-box{
    padding: 15px;

    .welcome-text{
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 30px 0 0;
    
        span{
            color: purple;
            font-weight: 900;
        }
    }
    
}