
.form{
    display: flex;
    flex-direction: column;

    button{
        margin: 30px 0 0;
        border: none;
        background-color: purple;
        color: white;
        font-size: 13px;
        padding: 15px;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 6px;
        border: 2px solid white;
        cursor: pointer;
    }

    textarea{
        resize: none;
        height: 50px;
        padding: 10px;
        border: 3px solid purple;
        border-radius: 6px;
        font-size: 13px;
    }

    input{
        margin: 0 0 15px;
        padding: 13px 10px;
        font-size: 13px;
        border-radius: 6px;
        border: 3px solid purple;
    }
}