<template>
    <div class="event-list">
      <router-link 
        :to="{name : 'Event', params : { id : event.id}}" 
        :style="{'background-image': 'url('+api+'/event/'+event.src+')'}" 
        class="event-card">
          
          <span class="date-badge">{{formatDate(event.start_time)}}</span>

          <div class="event-meta">
            <h3>{{event.title}}</h3>
            <p>10 participant(s)</p>
          </div>
      </router-link>

    </div>
    
</template>

<script>

import moment from 'moment';

export default {

  name: 'EventCard',

  setup({ event }, { emit }) {

    let formatDate = (date) => moment(date).format('dddd Do MMMM, YYYY');

    let api = "http://localhost:8000/storage";

    const changeTextEvent = (e) => {
      emit('keypress', e);
    }

    return { event, formatDate, api, changeTextEvent };
  },

  props : {
    event : {
      type: Object,
      required : true
    }
  }

} 
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import './style/event-card.scss';
</style>