@import '../../../../shared/style/mixins.scss';


.event-list{

    .event-card{
        display: block;
        width: 100%;
        @include cover-img; 
        color: white;
        position: relative;
        margin-bottom: 15px;
        border-radius: 4px;
        padding-top: 100%;

        .date-badge{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 11px;
            padding: 10px;
            background-color: white;
            border-radius: 4px;
            color: black;
            font-weight: bold;
        }

        .event-meta{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0,0,0,.4);
            padding: 10px 15px;

            h3{
                margin: 0 0 10px;
                font-size: 16px;
                font-weight: bold;
            }

            p{
                margin: 0;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

