<template>
    <nav>
        <div class="brand-info">
            <div class="today-date">{{currentDate}}</div>
            <div class="brand-name">Eventz</div>
        </div>

        <div class="avatar">
            <div class="avatar-pic" :style="{'background-image' : `url(${require('./imgs/profile.jpg')})` }">    

            </div>
        </div>
    </nav>
</template>

<script>

import moment from 'moment'

export default {
    name: 'Header',

    computed : {
        currentDate(){

            let today = new Date();

            return moment(today).format('DD, MMM YYYY');
        }
    },
    data(){
        return {
        }
    }
}
</script>

<style scoped lang="scss">
    @import './style/header.scss';
</style>
