<template>
  <div class="about">
    <h1 style="color: white">This parent profile component</h1>
  </div>
</template>

<script>

import { useFetch } from '../../../composable/useFetch';

export default {
  setup() {
    
    const event = useFetch('event', { method : 'get'});

    console.log(event);

    return {}
  },
}

</script>

