<template>
  <main>

    <Suspense>
      <template #default>
        <router-view/>
      </template>
      <template #fallback>
        <Loader />
      </template>
    </Suspense>
   
  </main>
</template>

<script>

import Loader from './modules/loader/components/Loader.vue';

import { computed } from "vue";

import { useStore } from "vuex";

export default ({
  name : 'App',

  setup(){

    const store = useStore();

    let isLoading = computed( () => store.getters.getLoadState);

    let show = false;

    return {
      show
    }

  },

  components : {Loader}

})
</script>


<style lang="scss"> 
  body, html{
    background-color: rgb(52, 44, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #loader{
    height: 70%;
    position: fixed;
    z-index: 1;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 150px;
    }
  }

  main{
    width: 360px;
    display: block;
    padding: 0 15px;
    height: 600px;
    border-radius: 10px;
    background: black;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  main::-webkit-scrollbar {
    width: 5px;
  }

  *{
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
      font-family: 'Montserrat'
  }
    
  main::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
    
  main::-webkit-scrollbar-thumb {
      background-color: white;
      outline: 1px solid slategrey;
  }
</style>
