#footer{
    position: fixed;
    bottom: 73px;
    width: 360px;
    height: 70px;
    background-color: rgba(0,0,0, .7);

    .menu-list{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        justify-content: center;

        li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p{
                margin: 0;
                color: white;
                font-size: 12px;
                font-weight: 500;
            }

            img{
                width: 35px;
            }
        }

    }
}